.careers-jobs-list-styles__jobsList--3_v12 {
  width: 100%;
  max-width: 880px;
  margin: 8px auto 0;
  padding: 0 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; }
  .careers-jobs-list-styles__jobsList--3_v12 li {
    margin-bottom: 16px; }
  .careers-jobs-list-styles__jobsList--3_v12 ul {
    padding-bottom: 16px; }

.careers-jobs-list-styles__job--3Cb9F {
  transition: transform 0.2s ease-in-out;
  will-change: transform; }

.careers-jobs-list-styles__shimmer--gxsV5 {
  height: 1em; }

.careers-jobs-list-styles__link--3qpm9 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block; }

.careers-jobs-list-styles__date--1CDxx {
  display: block;
  margin-bottom: 4px; }

.careers-jobs-list-styles__title--1cN5S {
  color: #00756a;
  color: var(--color-default, #00756a);
  margin-bottom: 8px; }

.careers-jobs-list-styles__shimmer-date--1K1hp {
  width: 12%;
  min-width: 76px; }

.careers-jobs-list-styles__shimmer-title--2rkdU {
  width: 48%;
  max-width: 280px; }

.careers-jobs-list-styles__shimmer-details--25rmB {
  width: 76%;
  max-width: 380px; }

.careers-jobs-list-loadmore-styles__loadmore--3-bqh {
  margin: 0 auto;
  align-self: center; }

.careers-jobs-blankslate-styles__blankslate--1TdwZ {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  padding: 32px 24px;
  box-sizing: border-box;
  text-align: center; }
  .careers-jobs-blankslate-styles__blankslate--1TdwZ svg {
    padding-bottom: 32px; }
  .careers-jobs-blankslate-styles__blankslate--1TdwZ h2 {
    padding-bottom: 16px; }
  .careers-jobs-blankslate-styles__blankslate--1TdwZ p {
    color: #636d77; }

.careers-header-styles__observer--3Pqdz {
  background-color: #ffffff;
  height: 1px;
  visibility: hidden; }

.careers-header-styles__header--2t8dX {
  height: auto;
  width: 100%;
  background-color: #ffffff;
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  box-shadow: 0 3px 10px -4px rgba(51, 62, 73, 0.18), 0 6px 17px 2px rgba(51, 62, 73, 0.08);
  z-index: 11;
  transition: transform 0.3s ease-out;
  padding: 0 120px;
  box-sizing: border-box; }

.careers-header-styles__headerInner--cFsFA {
  transform-origin: bottom;
  transform: scaleY(1);
  transition: transform 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 116px;
  width: 100%; }

.careers-header-styles__logo--36Ua9 {
  min-width: 94px;
  width: auto;
  height: 94px;
  transform: scaleX(1);
  transition: transform 0.3s ease-out;
  padding: 0 16px; }

.careers-header-styles__picker--1Px3H {
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
  position: absolute;
  transition: transform 0.3s ease-out; }

.careers-header-styles__header-sticky--23_fk {
  transform: translateY(-40%); }

.careers-header-styles__headerInner-sticky--3q9G7 {
  transform: scaleY(0.6); }

.careers-header-styles__logo-sticky--2FEp3 {
  transform: scaleX(0.6);
  padding: 0; }

.careers-header-styles__picker-sticky--2yfAG {
  transform: translateY(80%); }

.careers-header-styles__wrapper--JmKea {
  position: relative;
  background-color: #ffffff; }
  .careers-header-styles__wrapper--JmKea:before {
    content: ' ';
    background-color: #ffffff;
    display: block;
    height: 116px;
    width: 100%;
    position: absolute;
    top: -116px;
    left: 0; }

.careers-header-styles__inner--pwIva {
  max-width: 880px;
  margin: 0 auto;
  padding: 24px;
  box-sizing: border-box; }
  .careers-header-styles__inner--pwIva h1 {
    padding: 0 0 8px; }
.careers-header-styles__shimmer-text-small--MSySX {
  height: 1em;
  margin: 12px 0 12px;
  width: 293.33333px;
  max-width: 30%; }

.careers-header-styles__shimmer-text-large--2ArlQ {
  width: 880px;
  max-width: 90%; }

.careers-header-styles__shimmer-text-medium--e6qBR {
  width: 752px;
  max-width: 60%; }

.careers-header-styles__description--1rAdv h2 {
  padding: 8px 24px;
  margin: 0; }

.careers-header-styles__description--1rAdv h3 {
  line-height: 1.5;
  margin-bottom: 1em; }

.careers-header-styles__description--1rAdv .careers-header-styles__content--3x_Ud a {
  text-decoration: underline;
  color: inherit; }

.careers-header-styles__description--1rAdv .careers-header-styles__content--3x_Ud strong {
  font-weight: 600; }

.careers-header-styles__description--1rAdv .careers-header-styles__content--3x_Ud p,
.careers-header-styles__description--1rAdv .careers-header-styles__content--3x_Ud div,
.careers-header-styles__description--1rAdv .careers-header-styles__content--3x_Ud ul,
.careers-header-styles__description--1rAdv .careers-header-styles__content--3x_Ud ol,
.careers-header-styles__description--1rAdv .careers-header-styles__content--3x_Ud strong {
  margin-bottom: 1em;
  color: #636d77;
  font-size: 16px;
  line-height: 1.5; }

.careers-header-styles__description--1rAdv .careers-header-styles__content--3x_Ud ul,
.careers-header-styles__description--1rAdv .careers-header-styles__content--3x_Ud ol {
  padding-left: 24px; }

.careers-header-styles__description--1rAdv .careers-header-styles__content--3x_Ud ul {
  list-style: disc; }

.careers-header-styles__description--1rAdv .careers-header-styles__content--3x_Ud ol {
  list-style: decimal; }

.careers-header-styles__description--1rAdv .careers-header-styles__content--3x_Ud img {
  max-width: 100%;
  width: auto;
  height: auto !important;
  margin: 8px 0;
  float: none; }

.careers-header-styles__description--1rAdv .careers-header-styles__content--3x_Ud iframe,
.careers-header-styles__description--1rAdv .careers-header-styles__content--3x_Ud video {
  max-width: 100%;
  display: block;
  margin: 8px auto; }

.careers-header-styles__description--1rAdv .careers-header-styles__content--3x_Ud iframe {
  width: 100%;
  height: 468px; }

@media all and (max-width: 767px) {
  .careers-header-styles__headerInner-sticky--3q9G7 {
    transform: scaleY(0.5); }
  .careers-header-styles__header-sticky--23_fk {
    transform: translateY(-50%); }
  .careers-header-styles__logo-sticky--2FEp3 {
    transform: scaleX(0.5); }
  .careers-header-styles__picker-sticky--2yfAG {
    transform: translateY(120%); }
  .careers-header-styles__description--1rAdv .careers-header-styles__content--3x_Ud iframe {
    height: calc(100vw / 2); } }

@media all and (max-width: 420px) {
  .careers-header-styles__header--2t8dX {
    padding: 0 80px; } }

.careers-search-styles__search--1yvk1 {
  display: flex;
  width: 100%;
  max-width: 880px;
  margin: auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  box-sizing: border-box;
  padding: 24px 24px 0; }

.careers-search-styles__input--quPLu {
  position: relative; }
  .careers-search-styles__input--quPLu .careers-search-styles__searchbox--3wX-z {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 6px 14px;
    line-height: 1.5;
    border: 1px solid #c4cfde;
    transition: box-shadow 0.2s ease; }
    .careers-search-styles__input--quPLu .careers-search-styles__searchbox--3wX-z input {
      padding-left: 0; }

.careers-search-styles__pills--2Pnqs {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 0 4px 0; }
  .careers-search-styles__pills--2Pnqs .careers-search-styles__inner--VF_ZP {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 24px; }
    .careers-search-styles__pills--2Pnqs .careers-search-styles__inner--VF_ZP .careers-search-styles__pill--r2TKD {
      background: #e1e6eb;
      color: #333e49;
      margin: 0 12px 12px 0; }
  .careers-search-styles__pills--2Pnqs .careers-search-styles__clear--2s5xh {
    padding-top: 6px;
    align-self: flex-end;
    margin-bottom: 16px; }
    .careers-search-styles__pills--2Pnqs .careers-search-styles__clear--2s5xh svg {
      width: 12px;
      height: 12px;
      margin-right: 4px; }

.careers-search-styles__header--facKI {
  display: flex;
  padding-bottom: 16px;
  align-items: center;
  justify-content: space-between; }

.careers-search-styles__totaljobs--1qZQx {
  padding-top: 2px; }

.careers-search-styles__shimmertotaljobs--3uTXV {
  width: 48px;
  height: 1em; }

@media all and (max-width: 767px) {
  .careers-search-styles__input--quPLu {
    margin-bottom: 24px; }
  .careers-search-styles__pills--2Pnqs {
    margin: 0 -24px 0 -24px;
    padding-top: 0;
    padding-left: 24px; }
    .careers-search-styles__pills--2Pnqs .careers-search-styles__inner--VF_ZP {
      padding-right: 12px; }
      .careers-search-styles__pills--2Pnqs .careers-search-styles__inner--VF_ZP .careers-search-styles__pill--r2TKD {
        max-width: calc(80vw - 120px); }
        .careers-search-styles__pills--2Pnqs .careers-search-styles__inner--VF_ZP .careers-search-styles__pill--r2TKD span {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
    .careers-search-styles__pills--2Pnqs .careers-search-styles__clear--2s5xh {
      padding-right: 24px; } }

.careers-search-filters-styles__dropdowns--2q2uV {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0px 8px; }
  .careers-search-filters-styles__dropdowns--2q2uV * {
    word-spacing: 0; }

.careers-search-filters-styles__mobile--3Zo5E {
  width: 100%;
  height: 100%;
  top: 0;
  background: #00756a;
  background: var(--color-default, #00756a);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  border-radius: 8px;
  -webkit-clip-path: circle(48px at 94%);
          clip-path: circle(48px at 94%);
  padding-right: calc((6% + 40px) / 2);
  transition: all 0.25s ease-out; }
  .careers-search-filters-styles__mobile--3Zo5E a {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(50%) !important;
    width: 48px;
    height: 48px; }

.careers-search-filters-styles__expanded--2FhFF {
  -webkit-clip-path: circle(134% at 94%);
          clip-path: circle(134% at 94%);
  opacity: 0.8; }

.careers-search-filters-styles__filter--1DYHz {
  padding: 0px 16px 0px 0px;
  box-sizing: border-box;
  min-width: 0;
  max-width: 28%;
  flex-grow: 1; }
  .careers-search-filters-styles__filter--1DYHz:last-child {
    padding: 0; }
  .careers-search-filters-styles__filter--1DYHz div > input {
    padding: 9px 10px; }

.careers-search-filters-styles__remote--1IeoA {
  flex-shrink: 0; }
  .careers-search-filters-styles__remote--1IeoA label > span {
    color: #636d77;
    font-weight: 600; }

@media all and (max-width: 767px) {
  .careers-search-filters-styles__filter--1DYHz {
    padding: 0;
    max-width: 100%; } }



.careers-emailmyresume-styles__emailmyresume--3rj8F {
  max-width: 880px;
  box-sizing: border-box;
  margin: 64px auto 0;
  padding: 0 16px; }
  .careers-emailmyresume-styles__emailmyresume--3rj8F .careers-emailmyresume-styles__card--1k3xM {
    box-shadow: none;
    border: solid 2px #e1e6eb; }

.careers-emailmyresume-styles__content--3r1qE {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .careers-emailmyresume-styles__content--3r1qE p {
    padding-right: 24px;
    color: #636d77; }
  .careers-emailmyresume-styles__content--3r1qE .careers-emailmyresume-styles__text--2uGrI a {
    color: #636d77; }

@media all and (max-width: 767px) {
  .careers-emailmyresume-styles__content--3r1qE {
    display: block; }
    .careers-emailmyresume-styles__content--3r1qE a {
      margin-top: 16px;
      width: 100%; } }

.careers-styles__jobs--2pl4W {
  margin-bottom: 64px;
  background-color: #f9f9f9; }

